:root{
    --black: #0F0F0F;
    --lightteal: #008170;
    --darkgreen: #005B41;
    --darkblue: #232D3F;
}

#navbar {
    padding: 10px 0;
    background-image: linear-gradient(90deg, var(--lightteal), var(--darkblue));
    color: var(--black);
    text-align: center;
}

h1::after {
    content: url(../images/cloud.png);
}

#city-search-form {
    border-bottom: 2px solid var(--black);
    padding-bottom: 20px;
}

#search-btn {
    border: none;
    background-image: linear-gradient(90deg, var(--lightteal), var(--darkblue));
}

#search-btn:hover,
#search-btn:active,
#search-btn:focus {
    box-shadow: 0 0 5px var(--black);
}

#city-input{
    border: 1px solid #005B41;
}

#city-input:hover,
#city-input:active,
#city-input:focus {
    border-color: var(--lightteal);
    box-shadow: 5px 5px 0 var(--darkgreen);
}
.city-card {
    border: none;
}

#city-weather-info {
    margin: 10px 0;
    border-radius: 30px;
    background-image: linear-gradient(60deg, var(--lightteal), var(--darkblue));
}

#current-temp {
    font: bolder;
    font-size: 35px;
}

#current-hum,
#current-wind {
    display: inline;
    padding-right: 20px;
    font-size: 20px;
}

.five-day-card {
    background-image: linear-gradient(60deg, var(--lightteal), var(--darkblue));
    border-radius: 5px;
}

.five-day-div {
    margin-top: 30px;
    width: 20%;
}

#five-day-temp,
#five-day-date {
    color: white;
    text-align: center;
}

.local-storage-div {
    margin-top: 10px;
    border: none;
}

.local-storage-btn {
    color: white;
    border-radius: 20px;
    margin: 5px 0;
    background-image: linear-gradient(60deg, var(--lightteal), var(--darkblue));
}

.local-storage-btn:hover {
    border-color: var(--black);
    box-shadow: 0 0 5px var(--black);
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .five-day-div {
        margin-top: 30px;
        width: 100%;
    }
  }