:root{
    --black: #0F0F0F;
    --lightteal: #008170;
    --darkgreen: #005B41;
    --darkblue: #232D3F;
}

#navbar {
    padding: 10px 0;
    background-image: linear-gradient(90deg, var(--lightteal), var(--darkblue));
    color: var(--black);
    text-align: center;
}

h1::after {
    content: url(../images/cloud.png);
}

#city-search-form {
    border-bottom: 2px solid var(--black);
    padding-bottom: 20px;
}

#search-btn {
    border: none;
    background-image: linear-gradient(90deg, var(--lightteal), var(--darkblue));
}

#search-btn:hover,
#search-btn:active,
#search-btn:focus {
    box-shadow: 0 0 5px var(--black);
}

#city-input:hover,
#city-input:active,
#city-input:focus {
    border-color: var(--lightteal);
    box-shadow: 5px 5px 0 var(--darkgreen);
}