:root{
    --black: #0F0F0F;
    --lightteal: #008170;
    --darkgreen: #005B41;
    --darkblue: #232D3F;
}

#navbar {
    padding: 10px 0;
    background-image: linear-gradient(90deg, var(--lightteal), var(--darkblue));
    color: var(--black);
    text-align: center;
}

h1::after {
    content: url(../images/cloud.png);
}